@model List<Core.Data.Entities.Employee>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.HtmlBanner != null && item.IsPublished)
            {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner))
            }
        }
    </div>
</div>
