
@using ViewRes.Home
<script src="/Content/js/Buy.js"></script>
<div class="container">

        <div class="row">
            <h5>
                @Html.Raw(ViewBag.Message)
            </h5>
        </div> 
   
    
</div>

