@model TolokaStudio.Models.CombinedHTMLImageUpload

<div style="float: left;">
    @using (Html.BeginForm("BannerImageUpload", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
            @Html.Label(Model.SelectLabel)       
            <input type="file" id="fileUpload" name="fileUpload" style="width: 300px;" /><br />              
            <input type="submit" name="Submit" id="Submit" value="Завантажити" style="margin-top: 7px;" />
             
    }
</div>
<br />
@Html.DisplayFor(model => model.Message)
<br />
<div class="span6 imageUploaded">
   @Html.Raw(Model.ImageUploaded)
</div>

