@model TolokaStudio.Models.ProductList
<link rel="stylesheet" href="/Scripts/slider/css/waterwheel-carousel.css" charset="utf-8" />
<script type="text/javascript" src="/Scripts/slider/js/jquery.waterwheelCarousel.min.js"></script>
<script src="/Content/js/buy.js"></script>
<div class="container">
    <div class="row">
        <div id="waterwheel-carousel-default">
            <div class="carousel-controls">
                <div class="carousel-prev">
                    <a href="#">&lt; previous</a></div>
                <div class="carousel-next">
                    <a href="#">&gt; next</a></div>
            </div>
            <div class="carousel-images">
                @if (Model.Products != null)
                {
                    foreach (var item in Model.Products)
                    {
                        if (item.ImageSmallPath != null && item.IsPublished)
                        {
                    <img src="@item.ImageSmallPath" alt="@item.Name" />           
                        }

                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            if (item.HtmlBanner != null && item.IsPublished && item.Employee != null && item.Employee.IsPublished)
            {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBannerOrderedNot));
            }
        }
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function () {
        Buyer.init();
    });
//]]>
</script>
