@model TolokaStudio.Models.HomeModel
@using ViewRes.Home
@{
    ViewBag.Title = Home.LogoText;
}
<link rel="stylesheet" href="/Scripts/slider/css/waterwheel-carousel.css" charset="utf-8" />
<script type="text/javascript" src="/Scripts/slider/js/jquery.waterwheelCarousel.min.js"></script>
<script src="/Content/js/category.js"></script>
<div class="container">
    <div class="row">
       <div id="waterwheel-carousel-default">
            <div class="carousel-controls">
                <div class="carousel-prev">
                    <a href="#">&lt; previous</a></div>
                <div class="carousel-next">
                    <a href="#">&gt; next</a></div>
            </div>
            <div class="carousel-images">
                @if (Model.Stores != null)
                {
                    foreach (var item in Model.Stores)
                    {
                        if (item.ImagePath != null)
                        {
                    <img src="@item.ImagePath" alt="@item.Name" />           
                        }

                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.Stores != null)
        {
            foreach (var item in Model.Stores)
            {
                if (item.HtmlBanner != null)
                {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner));
                }

            }
        }
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function () {
        Category.init();
    });
//]]>
</script>
