@model TolokaStudio.Models.HomeModel
@using ViewRes.Home
@{
    ViewBag.Title = Home.LogoText;
}
@*<a onclick="ShowPopup();" href=""><img title="Авторизація через vk.com" alt="вхід з контакту" src="../../Content/img/q/pinbar_favicon_vk.ico"/></a>
<script type="text/javascript">
    ShowPopup = function () {
        window.open('https://oauth.vk.com/authorize?client_id=3204168&scope=notify&redirect_uri=http://tolokastudio.pp.ua/Account/VKAuthorization&response_type=code', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
    }
</script> *@ 
<div class="container">
    <div class="row">
        @if (Model.Stores != null)
        {
            foreach (var item in Model.Stores)
            {
                if (item.HtmlBanner != null)
                {
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.HtmlBanner));
                }

            }
        }
    </div>
    @*<iframe width="560" height="315" src="http://www.youtube.com/embed/ORGNS6ev9TE" frameborder="0" allowfullscreen></iframe>
        <p>This is sample text to test galochku<img src="../../Content/img/q/button_ok_4699.png"  /></p>
        <img src="../../Content/img/q/shopping_cart_1.gif" width="100" />
         @Html.ActionLink("Test", "Test")*@

</div>
